* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.hotfind .hot-items:after, .hotfind .hot-items:before {
  content: "";
  display: table; }

.hotfind .hot-items:after {
  clear: both; }

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff2") format("woff2"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.con {
  width: 100%; }
  .con-hd {
    padding: 20px 78px;
    background: #32c27d;
    position: relative; }
    .con-hd .iconfont {
      font-size: 28px;
      padding: 4px;
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%); }
    .con-hd input {
      width: 100%;
      height: 60px;
      line-height: 38px;
      background: #32c27d;
      color: #b2f2ca;
      border: none;
      outline: none; }
  .hotfind {
    width: 100%;
    background: #f3f3f3;
    padding: 70px 36px 34px; }
    .hotfind .hot-tit {
      font-size: 22px;
      color: #8f8f8d; }
    .hotfind .listtit {
      font-size: 22px;
      color: #8f8f8d; }
    .hotfind .hot-items {
      width: 100%;
      height: 180px;
      overflow: hidden;
      margin-bottom: 74px; }
      .hotfind .hot-items span {
        float: left;
        padding: 12px 16px;
        font-size: 20px;
        border: 2px #979795 solid;
        border-radius: 30px;
        margin: 18px 8px; }
  .songList {
    padding: 38px; }
    .songList li {
      line-height: 88px;
      font-size: 22px;
      border-bottom: 2px #f4f4f2 solid; }
  .foot {
    width: 100%;
    position: fixed;
    bottom: 0px; }
    .foot audio {
      width: 100%; }
