* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

.tit::after {
  content: "";
  display: table; }

.tit:after {
  clear: both; }

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff2") format("woff2"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg"); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#box1 {
  width: 640px; }
  .head {
    width: 100%;
    line-height: 76px;
    height: 76px;
    text-align: center;
    font-size: 28px;
    color: #3f3f3f;
    font-weight: bold; }
  .find {
    width: 100%;
    padding: 17px 29px;
    background: #f0f0f2;
    position: relative; }
    .find .left {
      padding: 6px;
      font-size: 26px;
      position: absolute;
      top: 32px;
      left: 34px; }
    .find .right {
      padding: 6px;
      font-size: 24px;
      position: absolute;
      top: 34px;
      right: 40px; }
    .find input {
      width: 100%;
      height: 70px;
      line-height: 70px;
      padding-left: 60px;
      background: #fff;
      border: none;
      outline: none;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
      border-radius: 12px; }
  .start-seach {
    width: 100%;
    display: flex;
    margin-top: 26px; }
    .start-seach .start {
      flex: 1;
      line-height: 70px;
      margin-right: 15px;
      float: left;
      background: #00c98d;
      font-size: 24px;
      color: #fff;
      border-radius: 6px;
      text-align: center; }
    .start-seach .seach {
      flex: 1;
      margin-left: 15px;
      float: left;
      line-height: 70px;
      text-align: center;
      border: 2px #00c98d solid;
      border-radius: 6px; }
  .tit {
    padding: 30px; }
    .tit img {
      width: 100px;
      float: left;
      margin-right: 28px; }
    .tit h4 {
      font-size: 27px;
      color: #333333;
      margin-bottom: 18px; }
    .tit p {
      font-size: 22px;
      color: #9d9d9d;
      margin-bottom: 18px; }
    .tit div {
      width: 100%; }
      .tit div span {
        display: inline-block;
        padding: 8px;
        font-size: 17px;
        border-radius: 6px;
        border: 2px #e9e9e9 solid;
        margin-right: 10px; }
